body{
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

.contato{
	width: 940px;
	margin: 0 auto;
	padding: 2em 0 0;
}

form label, form fieldset {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

form select{
	padding: 5px 50px;
	margin: 7px 0 0;
}

form select, .input-padrao{
	border-radius: 3px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background-color: orange;
	color:white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.03);
}

table{
	margin: 20px 0 40px;
}

thead{
	background: #555555;
	color: #FFFFFF;
	font-weight: bold;
}

td, th{
	border: 1px solid #000000;
	padding: 8px 15px;
}

/*css da página index*/
.banner{
	width: 100%;
}

.principal{
	padding: 3em 0;
	background: #fefefe;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	color: rgba(0,0,0,0.8);
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(white, #b1b1b1);
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios{
	padding: 3em 0;
	background:linear-gradient(#b1b1b1,#888888);
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5em;
}

.itens:before{
	content: "★";
}

.itens:first-child{
	font-weight: bold;
}

.imagem-beneficios{
	width: 60%;
	box-shadow: 10px 10px 10px 0 #000000; /*Sombra em elementos - eixox eixoy profundidade cor*/
}

.video{
	margin: 2em 0;
	text-align: center;
	opacity: 0.7; /*Opacidade de um elemento -  1 visivel, 0 não visível*/
}

.video:hover{
	opacity: 1;
	transition: 500ms;
}

/*Ajustando os elementos para ficar responsivo*/
@media screen and (max-width: 480px){
	/*Index*/
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
		width: auto;
	}

	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

	.lista-beneficios, .imagem-beneficios{
		width: 100%;
	}

	/*Produtos*/
	.produtos{
		width: auto;
	}
	.produtos li{
		width: 100%;
		margin: 5px 0;
	}

	/*Contato*/
	.contato{
		width: auto;
	}

}